<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Library Books</title>
<style>
html, body, p {
padding: 0;
border: 0;
margin: 0;
}
body {
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center;
height: 100vh;
}
p {
margin-left: 4rem;
font-size: 2rem;
color: black;
}
.link {
font-size: 1rem;
}
</style>
</head>
<body>
<div class="header">
    <h1>library books</h1>
    {{range .}}
        <p><a href="/books/show?isbn={{.Isbn}}">{{.Isbn}}</a> - {{.Title}} - {{.Author}} - {{.Price}} -
            {{if (eq .IsAvailable true) }}
            Available <a href="/books/borrow?isbn={{.Isbn}}">Borrow A Book</a> </p>
        {{else}}
            Not Available <a href="/books/return?isbn={{.Isbn}}">Return Borrowed Book</a> </p>
        {{end}}
    {{end}}

</div>

</body>
</html>

